  body {
    background-color: #1f1f1f;
  }

  body{
    background-image: url("Beevo.png");
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
  }

  .navbar a {
    float: left;
    padding: 12px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 17px;
    width: 31.5%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  .cavbar a {
    float: left;
    padding: 12px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 17px;
    width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

    .lavbar a {
    float: left;
    padding: 12px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 17px;
    width: 31.5%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  .taskbar a {
  float: left;
  padding: 6px;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 9.5px;
  width: 32%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  }

  h2 {
  text-shadow: 0.5px 1.5px 2.5px #1f1f1f; /* Adds a shadow effect */
  color: #f1f1f1
}

  h1 {
  text-shadow: 0.5px 1.5px 2.5px #1f1f1f; /* Adds a shadow effect */
  color: #f1f1f1
}

  h3 {
  text-shadow: 0.5px 1.5px 2.5px #1f1f1f; /* Adds a shadow effect */
  color: #f1f1f1
}

div {
  background-color: #f1f1f1;
  color: #1f1f1f;
}

head  {
  top: 0;
}

  .content {
  background-image: linear-gradient(to bottom, #94b2c8, #c5d5e1);
  }

  .button {
  background-color: linear-gradient(to bottom, #94b2c8, #c5d5e1);
  }